$primary: #efe2e2;
$dark-primary: #e8dbdb;
$darker-primary: #d7c9c9;

$second: #8b1a2c;
$lighter-second: #e84666;

$light-accent: #825be5;
$accent: #6a2ed1;

$white: $primary;
$dark-white: $dark-primary;
$light-grey: $darker-primary;
$grey: #807a7a;
$dark-grey: #585151;
$light-black: #2f2a2a;
$black: #1a1212;
