@import "reset";
@import "color";
@import "breakpoints";
@import "navbar/navbar";
@import "text/size";
@import "text/title";
@import "text/btn";
@import "spacing/margin";
@import "spacing/list";
@import "sections/header";
@import "sections/footer";
@import "sections/placement";
@import "sections/section";
@import "sections/card";

body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background: $primary;
  color: $light-black;
}

a {
  color: $accent;
  text-decoration: none;
  &:hover {
    color: $light-accent;
  }
}

p {
  line-height: 1.25em;
  width: $destkop-p-width;
  margin: 0 auto 1.5rem auto;
  &.larger {
    width: inherit;
    margin-bottom: 1.5rem;
  }
  @include until($mobile) {
    width: $mobile-p-width;
  }
}

.content {
  width: 55%;
  padding: 2% 20%;
  margin: 0 auto;
  @include until($desktop) {
    width: 70%;
    padding: 2% 10%;
  }
  @include until($mobile) {
    width: 90%;
    padding: 2% 5%;
  }
}
