@import "color";

/* Creator: Bulma Team */
@mixin arrow($color: transparent){
  border: 3px solid $color;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

@function transparent($color, $alpha: 1){
  @return transparentize($color, calc(1 - $alpha));
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin right {
  display: block;
  text-align: right;
  justify-content: right;
}

@mixin left {
  display: block;
  text-align: left;
  justify-content: left;
}

@mixin until($breakpoint){
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin from($breakpoint){
  @media (min-width: $breakpoint) {
    @content;
  }
}

/* Creator: Bulma Team */
@mixin hamburger($dimensions) {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  height: $dimensions;
  position: relative;
  width: $dimensions;
  & span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: .3s;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
    &:nth-child(1) {
      top: calc(50% - 6px)
    }
    &:nth-child(2) {
      top: calc(50% - 1px)
    }
    &:nth-child(3) {
      top: calc(50% + 4px)
    }
  }
  &:hover {
    color: $light-grey;
  }
  &.is-active {
    span {
      &:nth-child(1) {
        transform: translateY(5px) rotate(45deg)
      }
      &:nth-child(2) {
        opacity: 0
      }
      &:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg)
      }
    }
  }
}
