@import "../color";
@import "../breakpoints";
@import "../mixins";

$height : 50px;

.navbar {
  background: $second;
  padding: 1rem 2rem;
  height: 1em;
  display: flex;
  vertical-align: center;
  width: 100%;
  &-item {
    color: $primary;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1rem;
    margin: 0 1rem;
    height: $height;
    @include until($mobile) {
      display: inherit;
    }
  }
  &-link {
    &:hover {
      color: $light-grey;
    }
  }
  &-left {
    position: relative;
    display: inline-block;
    left: 0;
    @include until($mobile) {
      display: none;
      &.is-active {
        display: inherit;
      }
    }
  }
  &-right {
    position: relative;
    display: inline-block;
    right: 0;
    @include until($mobile) {
      display: none;
      &.is-active {
        display: inherit;
      }
    }
  }
  &-logo {
    aspect-ratio: 5/3;
    width: 3rem;
    @include until($mobile) {
      display: block;
    }
  }
  &-burger {
    display: inline-block;
  }
}

.burger {
  display: none;
  color: $primary;
  margin-left: 55%;
  @include hamburger(1.25rem);
  @include until($mobile) {
    display: inherit;
    margin-left: 75%;
  }
  @include until($small-phone) {
    display: inherit;
    margin-left: 60%;
  }
  @include until($old-phone) {
    display: inherit;
    margin-left: 45%;
  }
}
